<section class="blogs">
    <div class="blogs__title">
        <h1>Our Best Blogs Ever</h1>
    </div>

    <div class="blogs__desc">
        <p>“Try our blog to find the best tips and tricks to select your gift”</p>
    </div>

    <article class="blogs__article-1">
        <div class="blogs__article-1__img"></div>

        <div class="blogs__article-1__text">
            <p>Mr. John Doe</p>

            <h1>The best way to wish your wife</h1>

            <span><a href="#">Read More</a></span>
        </div>
    </article>
</section>