<section class="gifts">
    <div class="gifts__title">
        <h1>Gifts for all Occasions</h1>
    </div>

    <div class="gifts__desc">
        <p>“Try our web app to find the best gifts for all occasions”</p>
    </div>

    <div class="gifts__items">
        <div class="gifts__items__block">
            <div class="gifts__items__block__img"></div>

            <div class="gifts__items__block__header">
                Birthday
            </div>

            <div class="gifts__items__block__more">
                <a href="#">See More ›</a>
            </div>
        </div>

        <div class="gifts__items__block">
            <div class="gifts__items__block__img"></div>

            <div class="gifts__items__block__header">
                Birthday
            </div>

            <div class="gifts__items__block__more">
                <a href="#">See More ›</a>
            </div>
        </div>

        <div class="gifts__items__block">
            <div class="gifts__items__block__img"></div>

            <div class="gifts__items__block__header">
                Birthday
            </div>

            <div class="gifts__items__block__more">
                <a href="#">See More ›</a>
            </div>
        </div>

        <div class="gifts__items__block">
            <div class="gifts__items__block__img"></div>

            <div class="gifts__items__block__header">
                Birthday
            </div>

            <div class="gifts__items__block__more">
                <a href="#">See More ›</a>
            </div>
        </div>
    </div>
</section>