<section class="section-1">
    <div class="section-1__left">
        <img src="./assets/img_bg_2.png" alt="">
    </div>

    <div class="section-1__right">
		<div class="section-1__right__title">
			<h1>How we work</h1>
		</div>

		<div class="section-1__right__desc">
			<p>
				We’ve actually already asked hundreds of women what they want, and made a database with the results. All you have to do is take our short survey that only takes seconds, and our proprietary algorithm will match you with a few perfect gift options.
			</p>
		</div>

		<div class="section-1__right__btn">
			<button class="btn-3">
				Learn More
			</button>
		</div>
    </div>
</section>