<section class="articles">
    <article class="articles__item">
        <h1>Database to find the gifts for your girlfriend</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>

        <span><a href="#">Read More</a></span>
    </article>

    <article class="articles__item">
        <h1>How Artificial Intelligence read your mind to find the best gift</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>

        <span><a href="#">Read More</a></span>
    </article>
</section>