<div class="menu">
    <div class="menu__logo">
        logo
    </div>

    <nav class="menu__nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blogs</a></li>
        </ul>
    </nav>

    <button class="btn__find">Gift Finder</button>
</div>