$body-font: "Gilroy";
$base-font-size: 18px;
$base-font-style: normal;
$base-font-weight: normal;
$font-color: black;

$color-white--1: #FFFFFF;
$color-white--2: #F1F1F2;
$color-white--3: #FAFAFA;
$color-black: #000000;
$color-orange: #F7941E;

$desktop: 1440px;