<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">

	<title>Freebie</title>
</head>
<body>
	<div class="wrap__menu">
		{{> ../components/menu/menu }}
	</div>
	
	<div class="wrap__header">
		{{> ../components/header/header }}
	</div>

	<div class="wrap__section-1">
		{{> ../components/section-1/section-1}}
	</div>

	<div class="wrap__gifts">
		{{> ../components/gifts/gifts}}
	</div>

	<div class="wrap__start">
		{{> ../components/start/start }}
	</div>

	<div class="wrap__blogs">
		{{> ../components/blogs/blogs }}
		{{> ../components/articles/articles}}
	</div>

	<div class="wrap__footer">
		{{> ../components/footer/footer }}
	</div>
</body>
</html>
