<section class="start">
    <div class="start__text">
        <h2>Ready to get started?</h2>
        <p>Sign up or contact us</p>
    </div>

    <div class="start__buttons">
        <button class="btn-4">Find gift now</button>
        <button class="btn-5">how it works</button>
    </div>
</section>