<header class="header">
	<div class="header__left">
		<div class="header__left__title">
			<h1>Find a gift for your wife or girlfriend</h1>
		</div>

		<div class="header__left__desc">
			<p>
				Struggling to find a gift for your wife or girlfriend?
				No problem!
			</p>
		</div>

		<div class="header__left__btn">
			<button class="btn__header">
				Find gift now
			</button>
		</div>
	</div>

	<div class="header__right">
		<img src="./assets/img_bg_1.png" alt="">
	</div>
</header>