<footer class="footer">
    <div class="footer__top">
        <div class="footer__top__menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        
        <div class="footer__top__logo">
            logo
        </div>
        
        <div class="footer__top__menu">
            <li><a href="#">Service</a></li>
            <li><a href="#">Blog</a></li>
        </div>
    </div>

    <div class="footer__social">
        <ul>
            <li><a href="#">
                <img src="./assets/social_1.svg" alt="">
            </a></li>
            
            <li><a href="#">
                <img src="./assets/social_2.svg" alt="">
            </a></li>

            <li><a href="#">
                <img src="./assets/social_3.svg" alt="">
            </a></li>

            <li><a href="#">
                <img src="./assets/social_4.svg" alt="">
            </a></li>

            <li><a href="#">
                <img src="./assets/social_5.svg" alt="">
            </a></li>
        </ul>
    </div>

    <div class="footer__copyright">
        <span>© 2010 — 2020</span>
        <span>Privacy — Terms</span>
    </div>
</footer>